<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="展示" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/plugins/appear/digital">数字</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="组件" nzIcon="api">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/plugins/appear/color-picker">拾色器</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="plugins">插件</a>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
